/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo do header e navegação */
header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 60px;
    width: auto;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: rgb(34, 179, 42);
    text-decoration: underline;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .active {
    background-color: #4bac4c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilo do container */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Filtros */
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter select, .filter button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards por linha */
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2x 5px rgba(0, 0, 0, 0.274);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta o card ao passar o mouse */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.301);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

/* Barra de progresso */
.progress-bar {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar div {
    height: 10px;
    background-color: #4caf50;
}