body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #00a25d;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #0000002d;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #e5ff00;
}
.main-content {
    padding: 20px;
}
.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.267);
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.progress-bar {
    height: 5px;
    background-color: #ddd;
    border-radius: 3px;
    overflow: hidden;
    margin: 5px 0;
}
.progress {
    height: 100%;
    background-color: #008000;
}
.direcionamentos {
    margin-right: 35px;
}